.ticket {
  transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
  background-color: black;
  color: white;
  text-align: center;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}	
#detalleTicket {
  background-color: #1a1a1a;

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto;
}

.ticket-item {
  background-color: #333;

  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  flex-wrap: wrap;
}

.ticket-item img {
  width: 60px;
  height: auto;
  border-radius: 6px;
}

.ticket-item span {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: white;
  min-width: 120px;
}

#totalTicket {
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  margin-top: 20px;
  padding: 0 16px;
}

#nombreUsuarioTicket {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
  color: white;
  padding-left: 16px;
}
#nombreUsuarioTicket span {
  color: #00ff66;
}
.ticket-modal, .conf-modal, .mostrar-modal{
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7) ;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.ticket-content, .conf-content {
  background-color: #222;
  color: white;
  padding: 1.5rem ;
  border-radius: 12px;
  text-align: center;
  max-width: 450px;
  width: 100%;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  animation: popupIn 0.5s ease-out forwards;
}
.close-ticket, .close-conf {
  position: absolute;
  top: .5rem;
  right: .3rem;      
  font-size: 20px;
  background: #444;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  cursor: pointer;
}

.close-ticket:hover, .close-conf:hover {
  background: #666;
}

/* Ocultar texto temporalmente */
.btn-total.loading {
  color: transparent;
  pointer-events: none;
}

/* Barra de carga dentro del botón */
.btn-total.loading::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #00e676, #00bfa5);
  animation: buttonLoading 2s linear forwards;
  border-radius: 8px;
}


.btn-total,
.btn-imprimir,
.btn-pdf,
.btn-conf-ok,
.btn-conf-cancel,
.btn-mostrar,
.btn-mostrar-close{
  position: relative;
  overflow: hidden;
  border: none;
  font-size: 1rem;
}

.btn-total,
.btn-imprimir,
.btn-conf-ok {
  background-color: #00c853;
  color: white;
  padding: 12px 20px; 
  border-radius: 8px;
  font-size: 1rem;
}

.btn-pdf, .btn-conf-cancel, .btn-mostrar, .btn-mostrar-close{
  background-color: transparent;
  color: white;
  text-decoration: underline;
  margin-left: 0.5rem;
}


@keyframes buttonLoading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


/* ======== Light ======== */

.theme-light .ticket {
  background-color: white;
  color: black;
}
.theme-light #nombreUsuarioTicket {
  color: black;
}
.theme-light #detalleTicket {
  background-color: #f0f0f0;
  color: black;
}

.theme-light .ticket-item {
  background-color: #e0e0e0;
  color: black;
}
.theme-light .ticket-item span {
  color: black;
}

/* ======== Reinicio ======== */

.modal-content {
  background-color: #111;
  color: white;
  border-radius: 12px;
  border: none;
}

.modal-header,
.modal-footer {
  border: none;
}

.btn-close-white {
  filter: invert(1);
}

